.cardview-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.backbutton {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 25px;
  margin-left: 25px;
}

.title {
  margin-top: 25px;
  margin-left: 25px;
}

.cardview-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  border-radius: 10px;
  margin-top: 30px;
  padding: 40px;
}

.content {
  margin-top: 20px;
  display: flex;
  text-align: justify;
}
